@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
$font-stack: "Source Sans Pro", Helvetica, sans-serif;

$low-power: rgb(54, 128, 226);
$med-power: rgb(255, 150, 10);
$high-power: rgb(233, 62, 62);

body {
  font: 100% $font-stack;
}

.low {
  color: $low-power;
}

.medium {
  color: $med-power;
}

.high {
  color: $high-power;
}
